{% extends 'layout.html' %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">


<div class="footer-container">
    <div class="footer-infos">
        <p class="info">Made by <a href="https://github.com/accoelhos" target="_blank" class="footer-link">Ana Carolina Sá</a>  |</p> 
        <p class="info">
            <a class="footer-link" href="https://eic.cefet-rj.br/~dal/" target="_blank">Data Analytics Lab</a></p>
    </div>


</div>

















{% endblock content %}