.container h1{
    font-size: xx-large;
    margin-top: 15px;
    color: #0a497e;
    margin-bottom: 15px;
}
.container b{
    color: #0a497e;
    
}
@media only screen and (min-width: 514px) {
    .container{
        height: 100vh;
    }
   
  }