<!--atualizar no meu pc-->
{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/detalhes.css') }}">

<div class="container">
    <h1>{{ spi.titulo }}</h1>
    <p><b>Prazo para submissão:</b> {{ spi.prazo.strftime('%d/%m/%Y') }}</p>
    <p><b>Data de Notificação:</b> {{ spi.datanot.strftime('%d/%m/%Y') }}</p>
    <p><b>Editora:</b> {{ spi.editora }}</p>
    <p><b>Revista:</b> {{ spi.revista }}</p>
    <p><b>Link:</b> <a href="{{ spi.link }}" target="_blank">{{ spi.link }}</a></p>
    <p><b>Detalhes:</b> {{ spi.detalhes }}</p>
    
</div>
{% include 'footer.html' %}

{% endblock content %}
