
.container ul {
    list-style-type: none; 
}

.container a {
    color: #0a497e;
    font-size:22px;
    margin-top: 50px;
    text-decoration: none; 
}

.container a:hover {
    text-decoration: underline; 
    color: #123755;
}

.container p {
    display: inline;
    margin-right: 10px;
    font-size: 15px;
}

.container .special-issue {
    margin-bottom: 10px; 
    display: block; 
    margin-top: 25px;
}
.col{
    text-align: center;
}
.container .col a.btn-outline-primary {
    background-color: white;
    border-color: #0a497e;
    color: #0a497e; 
    transition-duration: 0.2s;
    text-decoration: none;
    width: 25px; 
    height: 30px; 
    
    font-size: medium;
    
}

.container .col a.btn-outline-primary:hover {
    background-color: #0a497e;
    border-color: #0a497e;
    color: white; 
}
.container .col a.btn-primary {
    background-color: #0a497e;
    border-color: #0a497e;
    color: white; 
    transition-duration: 0s;
    text-decoration: none;
    width: 25px; 
    height: 30px; 
    font-size: medium;
  
}
.container{
    padding: 10px;

}
