* {
    box-sizing: border-box; /* Inclui padding e border no tamanho total dos elementos */
}

html, body {
    height: 100%; /* Faz com que o body ocupe 100% da altura da tela */
    margin: 0; /* Remove margens padrão */
}

.container {
    display: flex;
    flex-direction: column; /* Coloca os filhos em coluna */
    flex: 1; /* Faz com que o container ocupe o espaço restante */
    padding: 20px; /* Padding para o container */
    min-height: calc(100vh - 100px); /* Garante que o container tenha altura mínima */
    margin-top: 20px;
}

.row {
    margin: 0; /* Remover margens para que os cartões ocupem toda a largura */
}

.col-md-12 {
    margin-bottom: 20px; /* Espaço entre os cartões */
}

.special-issue {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    transition: transform 0.2s, box-shadow 0.2s;
    width: 100%; /* Ocupa toda a largura do contêiner */
    background-color: #f9f9f9; /* Cor de fundo suave */
}

.special-issue:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra mais pronunciada */
}

.card-body {
    padding: 20px; /* Padding mais espaçado */
}

.card-title {
    font-size: 20px; /* Aumenta o tamanho da fonte do título */
    color: #0a497e;
}

.date {
    color: #555; /* Cor mais suave */
    margin-bottom: 10px; /* Espaço abaixo da data */
}

.description {
    font-size: 16px; /* Tamanho da fonte da descrição */
    color: #777; /* Cor para a descrição */
}

.btn.btn-primary.btn-sm {
    background-color: #0a497e;
    border-color: #0a497e;
}

.col.text-center {
    margin-bottom: 20px;
}

.btn.btn-outline-primary.btn-sm {
    border-color: #0a497e;
    color: #0a497e;
}

.btn.btn-outline-primary.btn-sm:hover {
    border-color: #0a497e;
    color: white;
    background-color: #0a497e;
}


