.resize-vertical {
    resize: vertical;
    overflow: auto;
}

.btn {
    background-color: #0a497e!important;
    border-color: #0a497e!important;
    color: white;
    transition: background-color 0.5s!important; 
}
.btn:hover{
    background-color: #113a5c!important;
    border-color: #113a5c!important;
    color: white!important;
}
.form-control-sm{
    border: 1px solid #0a497e; 
    width: 500px; 
    border-radius: 5px;

}
.h1-bg {
    font-size: 40px;
    text-align: center;
    position: relative;
}

.h1-bg::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(to right, white, #0a497e, white); 
}
@media only screen and (max-width: 514px){
    .form-control-sm{
        width: 80%;
    }
    .h1-bg {
        font-size: 30px!important;
        text-align: center;
        position: relative;
    }
    .btn{
        width: 150px;
        font-size: 14px!important;
    }
}